@namespace Paye.Client.Shared

<nav>
    <ul>
        <li><NavLink href="/login">Login</NavLink></li>
        <li><NavLink href="/staff/submission">Staff Submission</NavLink></li>
        <li><NavLink href="/fcsp/mortgage">FC&SP Mortgage</NavLink></li>
        <li><NavLink href="/reporting">Reporting</NavLink></li>
        <li><NavLink href="/audit">Audit Trail</NavLink></li>
    </ul>
</nav>
